:root {
  /* color scheme created with https://www.w3schools.com/colors/colors_compound.asp */
  --primary: #347B98;
  --primary-light: #D4EDF7;
  --secondary: #4424D6;
  --secondary-dark: #110934;
  --highlighting: #FB9902;
  --light-gray: #cccccc;
  --gray: #999999;
}

p {
  text-align: justify;
  hyphens: auto;
}

.article-header {
  box-shadow: 0px 0px 8px #000000;
  background-color: var(--secondary-dark) !important;
}

.fixed {
  background-color: var(--secondary-dark);
  width: 30px;
  height: 30px;
  right: 5px;
  top: 5px;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 4px var(--secondary-dark);
}

.fixed a {
  color: white;
}

.centered {
  text-align: center;
  background-color: var(--highlighting);;
  padding: 1rem;
}

.aside {
  text-align: center;
  font-style: italic;
  background-color: var(--primary-light);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.toc .aside {
  right: 0;
  left: -350px;
  text-align: left;
  font-style: normal;
}

.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.idyll-scroll-text .idyll-step {
  padding: 0rem 2rem;
}

.indented-plot line {
  stroke: black;
  stroke-width: 2px;
}

.icicle-plot rect {
  stroke: white;
  stroke-width: 1px;
  opacity: 0.5;
}
