:root {
  /* color scheme created with https://www.w3schools.com/colors/colors_compound.asp */
  --primary: #347B98;
  --primary-light: #D4EDF7;
  --secondary: #4424D6;
  --secondary-dark: #1e105c;
  --highlighting: #FB9902;
  --highlighting-dark: #ce7b00;
  --gray-light: #eeeeee;
  --gray: #999999;
  --shadow: 2px 2px 8px var(--gray-light);
}

p {
  text-align: justify;
  hyphens: auto;
}

a {
  color: var(--secondary);
}

.article-header {
  box-shadow: 0px 0px 8px #000000;
  background-color: var(--secondary-dark) !important;
  background-image: url(/static/images/background.svg) !important;
}

.fixed {
  background-color: var(--secondary-dark);
  width: 30px;
  height: 30px;
  right: 5px;
  top: 5px;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 4px var(--secondary-dark);
}

.fixed a {
  color: white;
}

.centered {
  text-align: center;
  border-top: 2px solid var(--highlighting);;
  border-bottom: 2px solid var(--highlighting);;
  padding: 1rem 0;
}

.aside {
  text-align: center;
  font-style: italic;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: var(--secondary-dark);
  box-shadow: var(--shadow);
}

.toc .aside {
  right: 0;
  left: -350px;
  text-align: left;
  font-style: normal;
  background-color: var(--primary-light);
  color: black;
  box-shadow: var(--shadow);
}

.icon {
  height: 30px;
  position: relative;
  bottom: -5px;
  margin: 0 0.25rem;
}

.icon-large {
  height: 80px;
  padding: 0.5rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row > div {
  margin: 0 0.5rem;
}

.column25 {
  flex: 25%;
}

.column75 {
  flex: 75%;
}

.left {
  float: left;
  margin-right: 1rem;
}

.v-space {
  display: inline-block;
  width: 20px;
}

.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.idyll-scroll-text .idyll-step {
  padding: 0rem 2rem;
}

.idyll-graphic {
  margin: 2rem 0.25rem;
}

.indented-plot line {
  stroke: black;
  stroke-width: 2px;
}

.icicle-plot rect {
  stroke: white;
  stroke-width: 1px;
}

.icicle-plot rect.gradient {
  stroke-width: 0;
  fill: url(#gradient);
}